torch
erutils
transformers~=4.28.0.dev0
deepspeed
beautifulsoup4~=4.11.1
psutil~=5.9.0
tqdm~=4.64.1
datasets~=2.9.0
dataset~=1.6.0
packaging
numpy
pandas
accelerate
typing
wikipedia

jax
optax
flax
safetensors